body {background-color:#2B6A47;}

h2 {text-transform:capitalize;}

.clearB {clear:both;}

.wrapper {background-color:#fff; box-shadow:-2px 2px 8px #000;}

header {margin-top:5px;}

.glyphicon-calendar:before {content:"\e109";}

#user {display:none; text-align:right; margin-bottom:5px;}

table td a {display:block; width:100%;}
table .total {text-align:right; font-weight:bold;}
#payroll_dates {font-size:.8em;}

#loading .modal-dialog {text-align: center; margin-top:300px;}

.highlight {background-color:#ffff00;}

.deleteButton {width:67px;}
.email {max-width:75%; margin: 10px auto;}

.admin_periods_nav {margin-bottom:10px;}
.details {font-size:7pt; font-weight:bold;}

/* Staff Lotto */
#lContent {margin-left:200px; max-width:940px}
.subnav {width:200px; float:left;}

.courses {margin:10px;}

.profiles {}
.profiles .users {width:200px; float:left;}
.profiles .profile {margin-left: 200px; max-width:740px;}

/*.userList{position:absolute; left:15px; top:100px; min-height:100px;}*/

/* Inventory */
.invStats {margin-left:10px; font-size:.9em;}
.invStats .group {}
.invStats .group .name {display:inline;}
.invStats .group .value {display:inline;}

.specs {list-style:none;}
.specs .title {font-weight:bold;}
.specs li {margin-left:-10px;}

/* Calendar */
#calendarDiv {overflow:visible !important;}

.fc-view {overflow: visible !important;}
.tooltip, .arrow:after {background: black; border: 2px solid white;}
.tooltip {padding: 10px 20px; color: white; border-radius: 20px; font: bold 14px "Helvetica Neue", Sans-Serif; box-shadow: 0 0 7px black; width: 500px; overflow:visible; z-index: 10 !important;}
.tooltip-inner {border-radius: 20px; max-width:490px !important;}
.arrow {width: 400px; height: 16px; overflow: hidden; position: absolute; left: 50%; margin-left: -35px; bottom: -16px;}
.arrow.top {top: -16px; bottom: auto;}
.arrow.left {left: 20%;}
.arrow:after {content: ""; position: absolute; left: 20px; top: -20px; width: 25px; height: 25px; box-shadow: 6px 5px 9px -9px black; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); tranform: rotate(45deg);}
.arrow.top:after {bottom: -20px; top: auto;}

/* User Management */
.actions a {display:inline; margin-left:5px;}

.red {color:red;}


/* Footer */

.footer {height:50px; border-top: 1px solid #ddd;}
.footer p {position:absolute; right:25px; bottom:10px;}


@media only screen and (max-device-width: 768px) {
	/*.navbar {position:fixed; top:0; left:0; width:100%;}*/

	}
