  <style>

  </style>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<a href="#addEntry" class="btn btn-primary" data-toggle="modal">Add Event</a>
	</div>
</div>
<div id='calendarDiv'></div>
<div class="modal fade" id="addEntry">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title">Add Event</h4>
      		</div>
            <form class="form" role="form" id="eventForm" method="post" action="?/calendar/addEvent">
      		<div class="modal-body">
        			<div class="form-group">
        				<label for="category">Event Name</label>
        				<input type="text" name="title" class="form-control" />
        			</div>
                    <div class="form-group">
                        <label for="start_time">Event Date</label>
                        <div class="input-group date" id="date">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input data-format="yyyy-MM-dd" type='text' name="date" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
			            <label>End Time</label>
			            <div class="input-group addon" id="event_time">
			                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
			                <input data-format="hh:mm" type="text" class="form-control" name="time" />
			            </div>
			        </div>
        			<div class="form-group">
                        <label for="description">Event Description</label>
                        <textarea name="description" class="form-control"></textarea>
                    </div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        		<input type="Submit" class="btn btn-primary" value="Add Event" />
      		</div>
            </form>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendarDiv').fullCalendar({
        // put your options and callbacks here
        eventSources: [

	        // your event source
	        {
	            url: cal.api + 'events/get',
	            type: 'GET',

	        }
	    ],
	    editable: true,
	    eventMouseover: function( event, jsEvent, view ) { 
	    	//console.log(this);
	    	$(this).attr('title', event.description);
	    	$(this).tooltip({
		      position: {
		        my: "center bottom-20",
		        at: "center top",
		        using: function( position, feedback ) {
		          $( this ).css( position );
		          $( "<div>" )
		            .addClass( "arrow" )
		            .addClass( feedback.vertical )
		            .addClass( feedback.horizontal )
		            .appendTo( this );
		        }
		      }
		    });
		    $(this).tooltip('show');
	    },
	    eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
	    	
	    	var curdate = new Date(event.start);
	    	var start = new Date(event.start);
	    	if (event.end == null || event.end == 'null') {
	    		var end = new Date(event.start);
	    	} else {
	    		var end = new Date(event.end);
	    	}
	        
	        var eventArr = {
	        	id: event.id,
	        	start: cal.formatDate(start),
	        	end: cal.formatDate(end),
	        }
	        cal.update(eventArr);
    	},
    	eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
    		var curdate = new Date(event.start);
	    	var start = new Date(event._start);
	    	if (event.end == null || event.end == 'null') {
	    		var end = new Date(event._start);
	    	} else {
	    		var end = new Date(event._end);
	    	}
	        
	        var eventArr = {
	        	id: event.id,
	        	start: cal.formatDate(start),
	        	end: cal.formatDate(end),
	        };
	        cal.update(eventArr);
    	}
    })


    $('#date').datetimepicker({
	    pickTime: false,
	});
	$('#event_time').datetimepicker({
	    pickDate: false,
	    pick12HourFormat: true,
	});
});
</script>