<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<form role="form" id="addInv" method="post" action="?/inventory/create">
			<div class="form-group" style="text-align: center;">
				<label class="radio-inline">
				  <input type="radio" id="type" name="type" value="Computer" checked> Computer</label>
				<label class="radio-inline">
				  <input type="radio" id="type" name="type" value="Switch"> Switch</label>
				<label class="radio-inline">
				  <input type="radio" id="type" name="type" value="Firewall"> Firewall</label>
				<label class="radio-inline">
				  <input type="radio" id="type" name="type" value="Router"> Router</label>
				<label class="radio-inline">
				  <input type="radio" id="type" name="type" value="Server"> Server</label>
			</div>
			<div id="formContent">
				<div class="form-group">
					<label for="acquisition_date">Acquisition Date </label>
					<input class="form-control" type="text" name="acquisition_date" />
				</div>
				<div class="form-group">
					<label for="IS">IS Tag</label>
					<input class="form-control" type="text" name="IS" />
				</div>
				<div class="form-group">
					<label for="serial">Serial Number</label>
					<input class="form-control" type="text" name="serial" />
				</div>
				<div class="form-group">
					<label for="model">Model Number</label>
					<input class="form-control" type="text" name="model" />
				</div>
				<div class="form-group">
					<label>In Use</label><br />
					<label for="in_use">
						<input type="radio" name="in_use" value="true" checked /> Yes
					</label>
					<label for="in_use">
						<input type="radio" name="in_use" value="false" /> no
					</label>
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<input class="form-control" type="text" name="location" />
				</div>
				<input class="form-control btn btn-primary" type="submit" name="submit" value="Add Item" />
			</div>
		</form>
	</div>
</div>