<!--
<form role="form" class="form" id="addInv" action='?/inventory/set' method='post'>
	<div class="form-group">
		<input name="machine_name" type="text" />
	</div>
	<div class="form-group">

		<input name="location" type="text" />
	</div>
	<input type="submit" name="submit" value="submit" />
</form>
-->
<form role="form" class="form" id="addInv" action='?/inventory/set' method='post'>
	<div class="form-group">
		<input name="model" type="text" />
	</div>
	<div class="form-group">
		<input name="location" type="text" />
	</div>
	<div class="form-group">
		<input name="total_GB" type="text" />
	</div>
	<input type="submit" name="submit" value="submit" />
</form>