<div class="row">
	<div class="col-lg-2">
		<ul class="list-group">
			<li class="list-group-item"><a href="?/inventory/get/Computer">Computers</a></li>
			<li class="list-group-item"><a href="?/inventory/get/Router">Routers</a></li>
			<li class="list-group-item"><a href="?/inventory/get/Switch">Switches</a></li>
			<li class="list-group-item"><a href="?/inventory/get/Firewall">Firewalls</a></li>
			<li class="list-group-item"><a href="?/inventory/get/Server">Server</a></li>
		</ul>
	</div>
	<div class="col-lg-10">
		<div id="equipList" class="list-group">
			<div class="panel-group" id="accordion">
			</div>
		</div>
	</div>
</div>