<div class="courses">
    <form role="form" id="addCourse" method="post" action="?/lotto/addCourse">
        <div class="form-group">
            <label>Start Date</label>
            <div class="input-group addon" id="start_date">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input data-format="yyyy-MM-dd" type="text" class="form-control" name="start_date" />
            </div>
        </div>
        <div class="form-group">
            <label>End Date</label>
            <div class="input-group addon" id="end_date">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input data-format="yyyy-MM-dd" type="text" class="form-control" name="end_date" />
            </div>
        </div>
        <div class="form-group">
            <label>Days of Week</label>
            <input type="text" class="form-control" name="days_in_week" />
        </div>
        <div class="form-group">
            <label>Start Time</label>
            <div class="input-group addon" id="start_time">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input data-format="hh:mm" type="text" class="form-control" name="start_time" />
            </div>
        </div>
        <div class="form-group">
            <label>End Time</label>
            <div class="input-group addon" id="end_time">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                <input data-format="hh:mm" type="text" class="form-control" name="end_time" />
            </div>
        </div>
        <div class="form-group">
            <label>CRN</label>
            <input type="text" class="form-control" maxlength="10" size="10" name="crn" />
        </div>
        <div class="form-group">
            <label>Class Name</label>
            <input type="text" class="form-control" name="name" />
        </div>
        <div class="form-group">
            <label>Credit Hours</label>
            <input type="text" class="form-control" maxlength="1" size="1" name="credit_hour" />
        </div>
        <div class="form-group">
            <label>Section</label>
            <input type="text" class="form-control" name="section" />
        </div>
        <br /><br />
        <button type="submit" class="btn btn-primary" name="submit">Add Course</button>
    </form>
</div>
<script>
$('#start_date').datetimepicker({
    pickTime: false,
});
$('#end_date').datetimepicker({
    pickTime: false,
});
$('#start_time').datetimepicker({
    pickDate: false,
    pick12HourFormat: true,
});
$('#end_time').datetimepicker({
    pickDate: false,
    pick12HourFormat: true,
});
</script>
